<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      <%
      var list = '';
      for (i = 0; i < userlist.length; i++) {
        list += '<li><a href="mailto:' + userlist[i].email + '" target="_blank">' + userlist[i].username + '</a></li>';
      }
      %>
      <%- list %>
    </ul>
  </body>
</html>